[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "idcnrba"]
	path = idcnrba
	url = https://github.com/cran/idcnrba
[submodule "nrba"]
	path = nrba
	url = https://github.com/cran/nrba
